<div>

    <section class="h-100" style="background-color: #eee;">
        <div class="container h-100 py-5">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h2 class="fw-normal mb-0 text-black">Панель управления</h2>
            </div>
            <HR>
            <div>
                <h3>Модерация организаций</h3>
                <table class="table table-hover" cellpadding="0" cellspacing="0" ng-show="isUnconfirmedOrg">
                    <button class="btn btn-success" ng-click="notConfirmed()" ng-show="!isUnconfirmedOrg">
                        Проверить есть ли организации для подтверждения
                    </button>
                    <tr>
                        <td>Владелец</td>
                        <td>Организация</td>
                        <td>Логотип</td>
                        <td>Описание</td>
                        <td>Действие</td>
                    </tr>
                    <tbody>
                    <tr>
                        <td>{{notConfirmedOrg.owner}}</td>
                        <td>{{notConfirmedOrg.title}}</td>
                        <td><img src="http://localhost:8183/simple-store-core/api/v1/logo/{{notConfirmedOrg.title}}"
                                 alt="лого" width="60" height="60"></td>
                        <td>{{notConfirmedOrg.description}}</td>
                        <td>
                            <button class="btn btn-success" ng-click="confirmedOrg(notConfirmedOrg.title)">Одобрить
                            </button>
                            <button class="btn btn-danger" ng-click="notConfirmed()">Следующая организация</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <HR>
            <div>
                <h3>Модерация товаров</h3>
                <table class="table table-hover" cellpadding="0" cellspacing="0" ng-show="isUnconfirmedProd">
                    <button class="btn btn-success" ng-click="notConfirmedProduct()" ng-show="!isUnconfirmedProd">
                        Проверить есть ли товары для подтверждения
                    </button>
                    <tr>
                        <td>Название товара</td>
                        <td>Организация</td>
                        <td>Описание</td>
                        <td>Цена</td>
                        <td>Колличество</td>
                        <td>Действие</td>
                    </tr>
                    <tbody>
                    <tr>
                        <td>{{notConfirmedProd.title}}</td>
                        <td>{{notConfirmedProd.organizationTitle}}</td>
                        <td>{{notConfirmedProd.description}}</td>
                        <td>{{notConfirmedProd.price}}</td>
                        <td>{{notConfirmedProd.quantity}}</td>
                        <td>
                            <button class="btn btn-success" ng-click="confirmedProduct(notConfirmedProd.title)">
                                Одобрить
                            </button>
                            <button class="btn btn-danger" ng-click="notConfirmedProduct()">Следующий товар</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <HR>
            <div>
                <form ng-submit="sendMessage()">
                    <h5>Отправить уведомление</h5>
                    <div class="form-group">
                        <label for="users_msg_email">Кому</label>
                        <input type="text" class="form-control" id="users_msg_email" placeholder="Email"
                               ng-model="users_msg.sendTo">
                    </div>
                    <div class="form-group">
                        <label for="users_msg_title">Заголовок</label>
                        <input type="text" class="form-control" id="users_msg_title" placeholder="Заголовок"
                               ng-model="users_msg.title">
                    </div>
                    <div class="form-group">
                        <div class="form-group col-md-6">
                            <label for="users_msg">Сообщение</label>
                            <textarea class="form-control" id="users_msg" placeholder="Сообщение" cols="40" rows="3"
                                      ng-model="users_msg.content"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Отправить</button>
                </form>
            </div>
            <HR>
            <table class="table table-hover" cellpadding="0" cellspacing="0">
                <h3>Пользователи</h3>
                <tr>
                    <td>ID</td>
                    <td>Username</td>
                    <td>Email</td>
                    <td>Баланс</td>
                    <td>Active</td>
                    <td>Действие</td>
                </tr>
                <tbody>
                <tr ng-repeat="user in usersList">
                    <td>{{user.id}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.balance}}</td>
                    <td>{{user.active}}</td>
                    <td>
                        <button class="btn btn-danger" ng-click="userBun(user.id)">Бан</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <HR>
            <table class="table table-hover" cellpadding="0" cellspacing="0">
                <h3>Список организаций</h3>
                <tr>
                    <td>ID</td>
                    <td>Название</td>
                    <td>Логотип</td>
                    <td>Описание</td>
                    <td>Владелец</td>
                    <td>Active</td>
                    <td>Действие</td>
                </tr>
                <tbody>
                <tr ng-repeat="o in orgList">
                    <td>{{o.id}}</td>
                    <td>{{o.title}}</td>
                    <td><img src="http://localhost:8183/simple-store-core/api/v1/logo/{{o.title}}" alt="лого" width="60" height="60"></td>
                    <td>{{o.description}}</td>
                    <td>{{o.owner}}</td>
                    <td>{{o.active}}</td>
                    <td>
                        <button class="btn btn-danger" ng-click="orgBun(o.id)">Бан</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <HR>
            <div>
                <form ng-submit="setRole()">
                    <h5>Добавить роль например ROLE_ADMIN</h5>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" placeholder="Email" ng-model="user.email">
                    </div>
                    <div class="form-group">
                        <label for="inputRole">Новая роль</label>
                        <input type="text" class="form-control" id="inputRole" placeholder="Новая роль"
                               ng-model="user.role">
                    </div>
                    <button type="submit" class="btn btn-primary">Добавить новую роль</button>
                </form>
            </div>
            <HR>
            <div>
                <form ng-submit="upUsersBalance()">
                    <h5>Пополнить баланс</h5>
                    <div class="form-group">
                        <label for="users_email">Email</label>
                        <input type="text" class="form-control" id="users_email" placeholder="Email"
                               ng-model="user_up.email">
                    </div>
                    <div class="form-group">
                        <label for="users_balance">Добавь денег</label>
                        <input type="number" class="form-control" id="users_balance" placeholder="Добавь денег"
                               ng-model="user_up.balance">
                    </div>
                    <button type="submit" class="btn btn-primary">Увеличить баланс</button>
                </form>
            </div>
            <HR>
            <div class="card-body p-4">
                <div>
                    <h3>Добавить/изменить продукт</h3>

                    <form novalidate ng-submit="saveOrUpdateProduct()">
                        <input class="form-control" type="number" placeholder="ID" ng-model="save_or_update_product.id">
                        <p></p>
                        <input class="form-control" type="text" placeholder="Название продукта"
                               ng-model="save_or_update_product.title">
                        <p></p>
                        <input class="form-control" type="text" placeholder="Описание"
                               ng-model="save_or_update_product.description">
                        <p></p>
                        <input class="form-control" type="text" placeholder="Организация"
                               ng-model="save_or_update_product.organizationTitle">
                        <p></p>
                        <input class="form-control" type="number" placeholder="Цена"
                               ng-model="save_or_update_product.price">
                        <p></p>
                        <input class="form-control" type="number" placeholder="Колличество"
                               ng-model="save_or_update_product.quantity">
                        <p></p>
                        <button type="submit" class="btn btn-primary">Сохранить/изменить продукт</button>
                    </form>
                    <div class="card-body p-4">
                        <div>
                            <HR>
                            <div class="d-flex justify-content-between align-items-center mb-4">
                                <h3 class="fw-normal mb-0 text-black">История покупок всех пользователей</h3>
                            </div>
                            <div class="card-body p-4">
                                <div>
                                    <p></p>
                                    <table class="table table-hover" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td>ID</td>
                                            <td>Пользователь</td>
                                            <td>Название продукта</td>
                                            <td>Организация</td>
                                            <td>Колличество</td>
                                            <td>Дата покупки</td>
                                        </tr>
                                        <tbody>
                                        <tr ng-repeat="h in allHistoryList">
                                            <td>{{h.id}}</td>
                                            <td>{{h.email}}</td>
                                            <td>{{h.productTitle}}</td>
                                            <td>{{h.organization}}</td>
                                            <td>{{h.quantity}}</td>
                                            <td>{{h.datePurchase}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <HR>
                            <div class="d-flex justify-content-between align-items-center mb-4">
                                <h3 class="fw-normal mb-0 text-black">Каталог товаров</h3>
                            </div>
                            <form novalidate ng-submit="loadProducts()">
                                <div class="form-floating input-group-sm">
                                    <input type="text" class="form-control" id="filterTitle" placeholder=""
                                           ng-model="filter.title_part">
                                    <label for="filterTitle">Название продукта</label>
                                </div>
                                <p></p>
                                <div class="form-floating input-group-sm">
                                    <input type="number" class="form-control" id="filterMinPrice" placeholder=""
                                           ng-model="filter.min_price">
                                    <label for="filterMinPrice">Минимальная цена</label>
                                </div>
                                <p></p>
                                <div class="form-floating input-group-sm">
                                    <input type="number" class="form-control" id="filterMaxPrice" placeholder=""
                                           ng-model="filter.max_price">
                                    <label for="filterMaxPrice">Максимальная цена</label>
                                </div>
                                <p></p>
                                <button class="btn btn-outline-warning btn-sm" style="width: 100%;" type="submit">
                                    Применить
                                </button>
                            </form>
                            <p></p>
                            <table class="table table-hover" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>ID</td>
                                    <td>Название продукта</td>
                                    <td>Описание</td>
                                    <td>Организация</td>
                                    <td>Цена</td>
                                    <td>Колличество</td>
                                    <td>Действие</td>
                                </tr>
                                <tbody>
                                <tr ng-repeat="p in ProductPage.items">
                                    <td>{{p.id}}</td>
                                    <td>{{p.title}}</td>
                                    <td>{{p.description}}</td>
                                    <td>{{p.organizationTitle}}</td>
                                    <td>{{p.price}}</td>
                                    <td>{{p.quantity}}</td>
                                    <td>
                                        <button class="btn btn-primary" ng-click="showProductInfo(p.id)">Инфо</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <nav aria-label="Page navigation" ng-show="isThereIndex()">
                                <ul class="pagination">
                                    <li class="page-item" ng-repeat="pageIndex in pagesList">
                                        <button class="page-link" ng-click="loadProducts(pageIndex)">
                                            {{pageIndex}}
                                        </button>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>