<div>

    <section class="h-100" style="background-color: #eee;">
        <div class="container h-100 py-5">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h3 class="fw-normal mb-0 text-black">Страница регистрации</h3>
            </div>
            <div>
                <form ng-submit="tryToReg()" id="regForm">
                    <div class="form-group">
                        <label for="your_name">Имя</label>
                        <input type="text" class="form-control" id="your_name" placeholder="Имя" ng-model="new_user.username">
                    </div>
                    <div class="form-group">
                        <label for="inputEmail">Электронная почта</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="Электронная почта" ng-model="new_user.email">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputPassword">Пароль</label>
                            <input type="password" class="form-control" id="inputPassword" placeholder="Пароль" ng-model="new_user.password">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" id="create">Создать аккаунт</button>
                    <td></td>
                    <div class="signup-image">
                        <a href="#!/auth" class="signup-image-link">У меня уже есть аккаунт</a>
                    </div>

                </form>
            </div>
        </div>
    </section>

</div>
